@import 'color-theme';

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    transition: 0.5s ease-out;
    align-items: center;
    justify-content: center;
    @include col() {
        background-color: t($dark-transparent);
    }
}

.modal-container {
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border: 1px solid;
    overflow-x: scroll;
    @include col() {
        border-color: t($shadow);
        background-color: t($background);
    }
}

.modal-header {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-top: 2px;
    justify-content: space-between;
    font-size: 14px;
    @include col() {
        color: t($regular);
    }
}

.modal-header-exit {
    cursor: pointer;
    @include col() {
        color: t($fail);
    } 
}

.modal-body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.modal-iframe {
    flex: 1;
    zoom: 0.75;
    width: 100%;
    height: 100%;
}