[build-system]
requires = [
    "setuptools >= 57.0.0",
    "wheel"
]
build-backend = "setuptools.build_meta"

[project]
name = "nost_tools"
description = "Tools for Novel Observing Strategies Testbed (NOS-T) Applications"
authors = [
    {"name" = "Paul T. Grogan", "email" = "paul.grogan@asu.edu"}
]
readme = "README.md"
requires-python = ">=3.8"
license = {text = "BSD 3-Clause License"}
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
    "Development Status :: 4 - Beta"
]
dependencies = [
    "numpy",
    "pandas",
    "python-dateutil ~= 2.8.2",
    "ntplib ~= 0.4.0",
    "paho-mqtt ~= 1.6.1",
    "pydantic ~= 1.10.4",
]
dynamic = ["version"]

[tool.setuptools.dynamic]
version = {attr = "nost_tools.__version__"}

[project.optional-dependencies]
examples = [
    "dash ~= 2.6.1",
    "flask ~= 2.0",
    "python-dotenv ~= 0.21.0",
    "seaborn ~= 0.12",
    "scipy",
    "skyfield ~= 1.45",
    "dash-daq ~=0.5.0",
]
docs = [
    "autodoc_pydantic ~= 1.8.0",
    "sphinx ~= 6.0",
    "sphinx_rtd_theme ~= 1.2.0",
    "readthedocs-sphinx-search ~= 0.1.0",
    "sphinx-copybutton ~= 0.5.1",
    "docutils ~= 0.18.1",
    "sphinx_design ~= 0.4.1",
]
